// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// Width Sizes
$width100: 100%;
$width90: 90%;
$width10: 10%;
$width80: 80%;
$width45: 45%;
$width50: 50%;
$width60: 60%;


// Colors
$whiteSmoke: #E8E8E8;
$coolBlack: #101010;
$primary: #e53b2b;
$white: #fff;
$gray: #c0c0c0c8;
$lightBlack: #71797E;