// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// Width Sizes
$width100: 100%;
$width90: 90%;


// Colors
$whiteSmoke: #E8E8E8;
$coolBlack: #101010;
$primary: #e53b2b;
$white: #fff;